/*===================
 Google Font
====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*===================
Root Style
====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.d-flex {
    display: flex;
}

.container {
    max-width: 1321px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


img {
    width: 100%;
}

.text-center {
    text-align: center;
}


/*===================
Banner Section
====================*/
.banner-section {
    width: 100%;
    margin-top: 50px;
}


.bg-black {
    display: flex;
    align-items: center;
    background: #161616;
    border-radius: 30px;
}

.banner-content {
    width: 50%;
    padding-left: 106px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 20px;
}

.banner-text {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    padding-right: 55px;
}

.banner-btn {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    padding: 16px 20px;
    background-color: #DD0000;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    transition: all .3s;
}

.banner-btn .fa-solid {
    margin: 0px 10px;
}

.banner-btn:hover {
    color: #161616;
    background-color: #ffffff;
}

.banner-img {
    width: 50%;
    margin-top: 58px;
}


.banner-img img {
    width: 581px;
    height: 613px;
    margin-bottom: -5px;

}


/*=====================
    blog-section
=======================*/
.blog-section {
    width: 100%;
    padding: 130px 0px;
}

.b-gap {
    display: flex;
    gap: 24px;
}

.blog-menu {
    width: 25%;
    height: 312px;
    background: #000;
    border-radius: 10px;
    padding: 30px;
}

.blog-menu ul {
    list-style: none;
    padding: 0;

}

.blog-menu ul li {
    margin-bottom: 30px;
}

.blog-menu ul li:last-child {
    margin-bottom: 0px;
}

.blog-menu ul li a {
    min-width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    padding: 17px 39px;
    color: #161616;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
}

.blog-menu ul li a:hover {
    background-color: #DD0000;
    color: #ffffff;
}

.blog-menu ul li .active {
    background-color: #DD0000;
    color: #ffffff;
}

/* ====================
    Article Blog
=======================*/
article {
    width: 75%;
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blog-single {
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.blog-single img {
    width: 100%;
    margin-bottom: -7px;
}

.blog-content {
    padding: 20px;
}

.blog-btn {
    display: inline-block;
    font-size: 16px;
    color: #161616;
    font-weight: 500;
    padding: 4px 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all .3s;
}

.blog-btn:hover {
    background-color: #DD0000;
    color: #ffffff;
    border: 1px solid #DD0000;

}

.blog-content p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.upload-blog {
    margin-top: 20px;
}


.upload-time,
.blog-comment {
    display: flex;
    align-items: stretch;
    margin-right: 30px;
}

.upload-time img,
.blog-comment img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.upload-time p,
.blog-comment p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);

}


.more-blog {
    margin-top: 50px;
    display: none;
}

.more-blog .btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 29px;
    color: #ffffff;
    background: #DD0000;
    border: 1px solid #DD0000;
    border-radius: 5px;
    transition: all .3s;

}

.more-blog .btn:hover {
    background-color: #ffffff;
    color: #DD0000;
    border: 1px solid #DD0000;
}



/*==========================
    Single Match
============================*/
.single-match {
    padding: 53px 30px;
    width: 100%;
    height: 242px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flag span {
    font-size: 16px;
    color: #161616;
    font-weight: 700;
}

.flag img {
    width: 93px;
}

.match-info h2 {
    font-size: 20px;
    color: #161616;
    font-weight: 600px;
    line-height: 30px;
    margin-bottom: 10px;
}

.match-info p {
    font-size: 16px;
    color: #4D4D4D;
    font-weight: 400px;
    line-height: 20px;
}

/*========================
    All Group Style
==========================*/
.group{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.group-title{
    margin-bottom: 20px;
}

.group img {
    width: 40px;
    margin-right: 16px;
}

.group ul li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 16px 10px;
    gap: 15px;
    background-color: #EEEEE4;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


/*========================
    Footer Style
==========================*/
footer {
    padding: 130px 0;
    background-color: #161616;
}


.footer-title {
    font-size: 40px;
    font-weight: 600px;
    line-height: 60px;
    color: #ffffff;
}

hr {
    margin: 50px 0;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
}

.footer-menu ul {
    padding: 0;
    list-style: none;
}

.footer-menu ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer-menu ul li a {
    display: inline-block;
    font-size: 16px;
    color: #B9B9B9;
    font-weight: 500;

}


/*==============================
    Responsive for Mobile 
=================================*/

@media only screen and (max-width: 767px) {
    .bg-black {
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
    }

    .banner-content {
        width: 100%;
        padding: 28px 43px 0px 43px;
        text-align: center;
    }

    .banner-title {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 8px;
        padding: 28px 28px 0px 28px;
    }

    .banner-text {
        font-size: 14px;
        padding-right: 0px;
        text-overflow: ellipsis;
        width: 100%;
        height: 48px;
        overflow: hidden;
    }

    .banner-btn{
        padding: 8px 12px;
    }

    .banner-img {
        margin-top: 21px;
        width: 100%;
        text-align: center;
    }

    .banner-img img {
        width: 233px;
        height: 245px;
    }


    .blog-section {
        padding: 24px 0px;
    }

    .b-gap {
        flex-direction: column;
        align-items: center;
    }

    .blog-menu {
        width: 100%;
        height: auto;
        background: #ffffff;
        padding: 0;
        text-align: center;
    }

    .blog-menu ul li {
        margin-bottom: 16px;
    }

    .blog-menu ul li a {
        min-width: 175px;
        border: 1px solid #E8E8E8;
    }

    article {
        width: 100%;
    }

    .blog-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }

    .footer-menu ul li {
        display: block;
        margin: 0;
    }


    .footer-menu ul li a {
        line-height: 50px;
    }

    footer {
        padding-top: 24px;
        padding-bottom: 8px;
    }

    hr {
        margin: 24px 0px;
    }

}

/*==============================
    Responsive for Tablet
================================*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .banner-content {
        width: 50%;
        padding-left: 10px;
    }
    
    .banner-title {
        font-size: 40px;
    }

    .banner-text {
        padding-right: 0px;
        text-overflow: ellipsis;
        width: 100%;
        height: 48px;
        overflow: hidden;
    }

    .banner-btn {
        padding: 12px 12px;

    }

    .banner-img img {
        width: 100%;
        /* margin-top: 21px; */
    }

    .blog-section {
        padding: 70px 0px;
    }

    .b-gap {
        flex-direction: column;
        align-items: center;
    }

    .blog-menu {
        width: 100%;
        height: 100%;
        background: #ffffff;
        padding: 0;
    }

    .blog-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;

    }

    .blog-menu ul li a {
        border: 1px solid #E8E8E8;
        padding: 17px 18px;
    }

    article {
        width: 100%;
    }


    .blog-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .blog-single:last-child {
        display: none;
    }

    .more-blog {
        display: block;
    }

    .footer-menu ul li a {
        line-height: 50px;
    }
}